{% extends "layout.html" %}
{% block body %}


    <div class="test0">
    
        <div class="h1 test1">
            {{ user.username }}
        </div>
        
        
        {% if current_user == user %}
            <div class="test test2">
                <form method="POST" action="/docs/new">
                    <button type="submit" class="btn btn-primary">New Document</button>
                </form>
            </div>
        {% endif %}
        
    </div>



    
    
    <ul class="list-group">
    
        {% for doc in user.yaml_documents %}
            
            <li class="list-group-item">
                <a href="{{ url_for('view_yaml_doc', doc_id=doc.id) }}">{{ doc.title }}</a>
            </li>
        {% endfor %}
    
    </ul>

    
    
    
    
{% endblock %}